---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import "_core/bourbon/bourbon";
@import "_core/base/base";
@import "_core/neat/neat";
