@import "../neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;





// Mobile only
// $mobile: new-breakpoint(max-width 480px);

// Tablet size and larger
$tablet: new-breakpoint(min-width 481px);


$medium-screen: new-breakpoint(min-width 600px);

// Desktop size and larger
$desktop: new-breakpoint(min-width 787px);


$large-screen: new-breakpoint(min-width 900px);

// Big-ass desktop
$desktop-huge: new-breakpoint(min-width 1160px);
